### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()

## Player Count

* Display the total number of players

In [3]:
# Determine total number of players
player_count_df = len(purchase_data["SN"].unique())
#display
print ("Total Number of Players: ", player_count_df)

Total Number of Players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Basic calculation to obtain unique items
unique_items = len(purchase_data["Item ID"].unique())
#Basic calculation to obtain Average Price
average_price = purchase_data["Price"].mean()
#Basic calculation to obtain Number of Purchases
number_purchases = len(purchase_data["Purchase ID"].unique())
#Basic calculation to obtain Total Revenue
total_revenue = purchase_data["Price"].sum()

#Create summary table to hold results
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                             "Average Price": [average_price],
                             "Number of Purchase": number_purchases,
                             "Total Revenue": [total_revenue]})
#Optional formatting
summary_table['Average Price'] = (summary_table['Average Price']).map("${:,.2f}".format)
summary_table['Total Revenue'] = (summary_table['Total Revenue']).map("${:,.2f}".format)

#Display
summary_table

   Number of Unique Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Count of Male, Female, and Non-Disclosed
gender_count_df1 = purchase_data.loc[purchase_data["Gender"] == "Male", :]
gender_count_df2 = purchase_data.loc[purchase_data["Gender"] == "Female", :]
gender_count_df3 = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

male = len(gender_count_df1["SN"].unique())
female = len(gender_count_df2["SN"].unique())
other = len(gender_count_df3["SN"].unique())

total = male + female + other

#Percentage of Male, Female, and Other/Non-Disclosed
percentage_male = male / total * 100
percentage_female = female / total * 100
percentage_other = other / total * 100

#Create summary table to hold results
summary_table = pd.DataFrame({"Total Count": (male, female, other),
                             "Percentage of Players": (percentage_male, percentage_female, percentage_other)})
#Formatting
summary_table['Percentage of Players'] = (summary_table['Percentage of Players']).map("{:,.2f}%".format)

#Display
summary_table

   Total Count Percentage of Players
0          484                84.03%
1           81                14.06%
2           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Count of Male, Female, and Non-Disclosed
gender_count_df1 = purchase_data.loc[purchase_data["Gender"] == "Male", :]
gender_count_df2 = purchase_data.loc[purchase_data["Gender"] == "Female", :]
gender_count_df3 = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

#Basic calculation to determine purchase count by gender
purchase_count1 = len(gender_count_df1["Purchase ID"].unique())
purchase_count2 = len(gender_count_df2["Purchase ID"].unique())
purchase_count3 = len(gender_count_df3["Purchase ID"].unique())

purchase_counts = [purchase_count1, purchase_count2, purchase_count3]

#Basic calculation to determine average purchase price by gender
avg_price_M = gender_count_df1["Price"].mean()
avg_price_F = gender_count_df2["Price"].mean()
avg_price_O = gender_count_df3["Price"].mean()

avg_prices = [avg_price_M, avg_price_F, avg_price_O]

#Basic calculation to determine Total Purchase Value by gender
tot_val_M = gender_count_df1["Price"].sum()
tot_val_F = gender_count_df2["Price"].sum()
tot_val_O = gender_count_df3["Price"].sum()
               
tot_values = [tot_val_M, tot_val_F, tot_val_O]

#Basic calculation to determine Average Total Purchase per Person
tot_price_M = tot_val_M / male
tot_price_F = tot_val_F / female
tot_price_O = tot_val_O / other
               
tot_prices = [tot_price_M, tot_price_F, tot_price_O]


#Create summary table to hold results
summary_table2 = pd.DataFrame({"Gender":("Male", "Female", "Other / Non-Disclosed"),
                               "Purchase Count":purchase_counts,
                               "Average Purchase Price":avg_prices,
                               "Total Purchase Value":tot_values,
                               "Avg Total Purchase per Person":tot_prices})

#Optional Formatting
summary_table2['Average Purchase Price'] = (summary_table2['Average Purchase Price']).map("${:,.2f}".format)
summary_table2['Total Purchase Value'] = (summary_table2['Total Purchase Value']).map("${:,.2f}".format)
summary_table2['Avg Total Purchase per Person'] = (summary_table2['Avg Total Purchase per Person']).map("${:,.2f}".format)

#Display
summary_table2

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#Bin purchase data frame by age
purchase_data.loc[(purchase_data['Age'] < 10), 'age_bin'] = "< 10"
purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <= 14), 'age_bin'] = "10 - 14"
purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <= 19), 'age_bin'] = "15 - 19"
purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <= 24), 'age_bin'] = "20 - 24"
purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <= 29), 'age_bin'] = "25 - 29"
purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <= 34), 'age_bin'] = "30 - 34"
purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <= 39), 'age_bin'] = "35 - 39"
purchase_data.loc[(purchase_data['Age'] >= 40), 'age_bin'] = "40 +"

#Create dataframe of unique players in each age group, find percentage against full count of players

yearsA = purchase_data[purchase_data["Age"] <10]
yearsB = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]
yearsC = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]
yearsD = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]
yearsE = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]
yearsF = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]
yearsG = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]
yearsH = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=99)]

#Create summary table and calculate Numbers and Percentages by Age Group
age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"],
                            "Total Count": [yearsA["SN"].nunique(), yearsB["SN"].nunique(), yearsC["SN"].nunique(), yearsD["SN"].nunique(), yearsE["SN"].nunique(), yearsF["SN"].nunique(), yearsG["SN"].nunique(), yearsH["SN"].nunique()],
                            "Percentage of Players": [(yearsA["SN"].nunique()/total)*100, (yearsB["SN"].nunique()/total)*100, (yearsC["SN"].nunique()/total)*100, (yearsD["SN"].nunique()/total)*100, (yearsE["SN"].nunique()/total)*100, (yearsF["SN"].nunique()/total)*100, (yearsG["SN"].nunique()/total)*100, (yearsH["SN"].nunique()/total)*100]
                           })
#Reset Index to Age
age_demo_final = age_demo_df.set_index("Age")

#Formatting
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Bin purchase data frame by age
purchase_data.loc[(purchase_data['Age'] < 10), 'age_bin'] = "< 10"
purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <= 14), 'age_bin'] = "10 - 14"
purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <= 19), 'age_bin'] = "15 - 19"
purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <= 24), 'age_bin'] = "20 - 24"
purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <= 29), 'age_bin'] = "25 - 29"
purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <= 34), 'age_bin'] = "30 - 34"
purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <= 39), 'age_bin'] = "35 - 39"
purchase_data.loc[(purchase_data['Age'] >= 40), 'age_bin'] = "40 +"

#Basic calculation to determine # of Purchases by age bin
pur_count_age = pd.DataFrame(purchase_data.groupby('age_bin')['SN'].count())

#Basic calculation to determine Average Purchase Price
avg_price_age = pd.DataFrame(purchase_data.groupby('age_bin')['Price'].mean())

#Basic calculation to determine total purchase value by age bin
tot_pur_age = pd.DataFrame(purchase_data.groupby('age_bin')['Price'].sum())

#Drop duplicate items of SN, keeping the last, then counts # of unique players by age bin
no_dup_age = pd.DataFrame(purchase_data.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())

#Merges into one data frame
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)

#Rename columns
merge_age.rename(columns = {"SN_x": "# of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers", "Normalized Totals": "Average Purchase Total per Person by Age Group"}, inplace = True)

#Calculate Average Purchase Total per Person by Age Group
merge_age['Average Purchase Total per Person by Age Group'] = merge_age['Total Purchase Value']/merge_age['# of Purchasers']

#Reset index to Age
merge_age.index.rename("Age", inplace = True)

#Formats
merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Average Purchase Total per Person by Age Group': '${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

num_purchase_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].mean())
purchase_amt_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())

#Merge 
merged_top5 = pd.merge(num_purchase_by_SN, purchase_amt_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)

#Rename columns
merged_top5.rename(columns = {'Price_x':'Purchase Count', 'Price_y': 'Total Purchase Value', 'Price':'Average Purchase Price'}, inplace = True)

#Sort purchase value from high to low
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)

#Top 5 
merged_top5 = merged_top5.head()

#Formatting
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

#Gets a count of each item by grouping by Item ID and counting the number of each IDs occurances
top5_items_ID = pd.DataFrame(purchase_data.groupby('Item ID')['Item ID'].count())

#Sort total purchase count from high to low 
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)

#Identify any ties
top5_items_ID = top5_items_ID.iloc[0:6][:]

#Find the total purchase value of each item
top5_items_total = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())

#Merge purchase count and total purcahse value 
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)

#Drop duplicate items from purchase data df
no_dup_items = purchase_data.drop_duplicates(['Item ID'], keep = 'last')

#Merge 
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')

#Keep the required columns
top5_merge_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]

#Reset index to Item ID
top5_merge_ID.set_index(['Item ID'], inplace = True)

#Rename columns
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)

#Formatting
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

C:\Users\halcm\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: 'Item ID' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  if sys.path[0] == '':

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

# find total purchase value 
top5_profit = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())

#Sort high to low
top5_profit.sort_values('Price', ascending = False, inplace = True)

#Top 5
top5_profit = top5_profit.iloc[0:5][:]

#Determine item purchase count
pur_count_profit = pd.DataFrame(purchase_data.groupby('Item ID')['Item ID'].count())

#Merge
top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]

#Reset Index to Item ID
top5_merge_profit.set_index(['Item ID'], inplace=True)

#Rename columns
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)

#Formatting
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})